
body{
  background: url(https://source.unsplash.com/a8YV2C3yBMk) no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'HelveticaNeue','Arial', sans-serif;

}

/* @keyframes slidy { */
/* 0% { left: 0%; } */
/* 20% { left: 0%; } */
/* 25% { left: -100%; } */
/* 45% { left: -100%; } */
/* 50% { left: -200%; } */
/* 70% { left: -200%; } */
/* 75% { left: -300%; } */
/* 95% { left: -300%; } */
/* 100% { left: -400%; } */
/* } */

/* body { margin: 0; }  */
/* div#slider { overflow: hidden; } */
/* div#slider figure img { width: 20%; float: left; } */
/* div#slider figure {  */
/*   position: relative; */
/*   width: 500%; */
/*   margin: 0; */
/*   left: 0; */
/*   text-align: left; */
/*   font-size: 0; */
/*   animation: 20s slidy infinite;  */
/*   font-family:'HelveticaNeue','Arial', sans-serif; */
/*   object-fit : cover; */
/* } */

a{color:#58bff6;text-decoration: none;}
a:hover{color:#aaa; }
.pull-right{float: right;}
.pull-left{float: left;}
.clear-fix{clear:both;}
div.logo{text-align: center; margin: 20px 20px 30px 20px; fill: #566375;}
.head{padding:40px 0px; 10px 0}
.logo-active{fill: #44aacc !important;}
#formWrapper{
   background: rgba(0,0,0,.2); 
   width:100%; 
   height:100%; 
   position: absolute; 
   top:0; 
   left:0;
   transition:all .3s ease;}  
.darken-bg{background: rgba(0,0,0,.5) !important; transition:all .3s ease;}

div#form{
   position: absolute;
   width:400px;
   height:320px;
   height:auto;
    background-color: #fff;  
   margin:auto;
   border-radius: 5px;
   padding:20px;
   left:50%;
   top:50%;
   margin-left:-200px;
   margin-top:-300px;
   opacity : 0.9;
}
div.form-item{position: relative; display: block; margin-bottom: 40px;}
 input{transition: all .2s ease;}
 input.form-style{
   color:#8a8a8a;
   display: block;
   width: 100%;
   height: 44px;
    padding: 5px 5%; 
   border:1px solid #ccc;
/*     -moz-border-radius: 27px;  */
/*     -webkit-border-radius: 27px;  */
/*    border-radius: 27px; */
   -moz-background-clip: padding; 
   -webkit-background-clip: padding-box; 
   background-clip: padding-box;
   background-color: #fff;
   font-family:'HelveticaNeue','Arial', sans-serif;
   font-size: 105%;
   letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }
div.form-item p.formLabel {
   position: absolute;
   left:26px;
   top:10px;
   transition:all .4s ease;
   color:#bbb;}
.formTop{top:-30px !important; left:10px !important;  padding:0 5px; font-size: 18px; font-weight:bold; color:#58bff6 !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
   float:right;
   width: 112px;
   height: 37px;
/*    -moz-border-radius: 19px; */
/*    -webkit-border-radius: 19px; */
/*    border-radius: 19px; */
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   background-color: #80DEEA;
   border:1px solid #55b1df;
   border:none;
   color: #fff;
   font-weight: bold;
}
input[type="submit"].login:hover{background-color: #fff; border:1px solid #55b1df; color:#55b1df; cursor:pointer;}
input[type="submit"].login:focus{outline: none;}
h1{
   color 
}

#ptag{
	color:#55b1df;	
}
#result {
	text-align: center;
	color: white;
}

#preloader {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}