@CHARSET "UTF-8";

@font-face { font-family: 'NANUMBARUNPENR'; src: url("../fonts/NANUMBARUNPENR.TTF") format('truetype'); }
@font-face { font-family: 'NANUMPEN'; src: url("../fonts/NANUMPEN.TTF") format('truetype'); }


#contents {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#centerwrapper {
	height: 100%;
}

.portfolio-item {
	margin-bottom: 20px;
}

#mark, #markcancel, #likeit, #likecancel {
	float: right;
	font-size: 15px;
	margin-right: 5px;
}

#searchTop {
	margin-top: 5px;
	margin-left: 5px;
}

#card {
	border-radius: 3px 3px 5px 5px;
}

#ids{
	font-size: 13px;
	font-weight: bold;
    margin-left: 5px;
}

#p{
	margin-top : 10px;
	margin-left : 5px;
	font-size : 10px;
	font-weight: bold;
}
