#contents {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#centerwrapper {
	height: 100%;
}

.portfolio-item {
	margin-bottom: 20px;
}

#icon {
	float: right;
	font-size: 18px;
	margin-right: 5px;
}

#searchTop {
	margin-top: 5px;
	margin-left: 5px;
}