
#contents {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
}

#centerwrapper {
	height: 100%;
}
 
/*컨테이너*/
.profile-image {
	width: calc(33.333% - 1rem);
	display: flex;
	margin-right: 3rem;
	align-items: center;
	margin-right: 3rem;
}

.profile-image img {
	border-radius: 50%;
}

.cock {
	float: left; 
}

.bookmark {
	float: left;
}

.icon {
	
	font-size: 20px;
	color: black;
	border: 0.5px;
}

.dot {
	font-size: 7px;
	color: lightgray;
}

.dot1 {
	font-size: 10px;
	color: #4FC3F7;
}

#comment {
	width: 85%;
	height: 5%;
	border: none;
	font-size: 13px;
	padding-left: 2%;
	margin-right: 2%;
	font-family: "Open Sans", Arial, sans-serif;
}

#contcenter {
	border-bottom: 0.3px solid lightgray;
}

.btn {
	font-size: 15px;
}

#peed {
	border: 0.3px solid lightgray;
}
  
#board {
	width: 62%;
	
}

#side {
	width: 38%;
}

#row {
	display: inline-block
}

    
    #myComment{
    	font-family: "Open Sans", Arial, sans-serif;
    	font-size: 11px;
    	
    }
    
    .hidden p {
 
    overflow: hidden;    
    text-overflow: ellipsis;
    white-space: nowrap; 
    width:60%;
    height: 20px;
    }
    
 
}

.idtxt {
	font-weight: 600;
}

.boardimg {
	z-index:auto;
	max-height: 600px;
}

#id {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 11px;
}

#con {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;  
}

#myContents {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
}

#myComment {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 11px;
}

.hidden p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
	height: 20px;
}

  
.comment-contents li {
position:relative;	
		}  
  
#li1 {
width:14%;
display:contents;
    
   
}
#li2  {            
width:72%;         
padding-left:3%;     
}  

#li3 {
width:12%; 
text-align:right; 
padding-right:3%;	
}    
  
#li4 {
	width:12%; 
	display:contents; 

}  
  
.commenttxt { 
	border:none;
	width:100%; 
	
   
}  
  
.creco {  
	border:none;   
	width:80%;    
	  
}
 
#feed {    
	border:0.5px solid lightgray;  
	}
	
.commentline {  
	padding-left: 0px;   
	margin-left: 1%;   
	margin-bottom:0px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom: -50px;
  background-color: lightgray;
}

.carousel-indicators .active {
    background-color: #4FC3F7;
}

.modal-body {  
	text-align: center;  
}

.modal-content {
	width:70%;  
}

.dropdown-item:hover{
	background-color:#E1F5FE;  
	
}