@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://use.fontawesome.com/releases/v5.0.8/css/all.css);

	/* Base Styles */
	:root {
		/* Base font size */
		font-size: 12px;
		
	}
	
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	
	body{
/*    		 border : 1px solid black;    */
		 height:auto;
		 font-family: "Open Sans", Arial, sans-serif;
		 min-height: 100vh;
		 padding-bottom: 3rem;  
		background-color:#F5F4F4;
		 
	 
	 } 
	 
	 #totalreadcount{
	 	  background-color:red;
	 	  width:20px;
	 	  position: absolute;
		  color:white;
		  font-size: 12px;
		  text-align:center;
   		  top: 10px;
    	  right: 51.5rem;
		  border-radius:5px;
	 }

    #allwrapper{
      height:auto;
     
   	}
    
    #navbar{
        border-bottom: 1px solid #ccc;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: #35e0db;
        transition: background-color 200ms linear;
    }
    
    #topwrapper{
        height:72px;
    }
    
    #navcontainer{
        max-width: 1000px;
    }
    
    #searchform{
        height: 30px;
        border: 0.6px solid #ccc;
        width : 300px;
    }
    
    #instagramicon {
        color: white;
        border-right: 1px solid white;
        padding-right: 13px;
    }
    
    .nav-icon{
        font-size: 25px;    	
        color: white;
    }
    
    .nav-item> a {
        margin-left: 25px;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    
    @media(max-width: 768px){
        .nav-icon {
            font-size: 30px;
        }
    }
    
    @media(min-width: 430px){
        .logo {
                display: flex !important;
                  flex-basis: auto;
        }
    }
    
    @media(max-width: 411.33px){
        .nav-item> a {
            margin-left: 40px;
        }
    }
    
    .logo{
        display: none;
        flex-grow: 1;
    }
    
    .text-white {
    	font-weight: bold;
    }
    
    #navbar.scrolled {
	background-color: #eef2f5 !important;
	transition: background-color 200ms linear;
	}

	#navbar.scrolled .nav-icon {
		color: black;
	}
	
	#navbar.scrolled #instagramicon {
		color: #dc3545;
		border-right: 1px solid black;
	}
	#navbar.scrolled .text-white {
		color: black !important;
	}
