@CHARSET "UTF-8";

@font-face { font-family: 'NANUMBARUNPENR'; src: url("../fonts/NANUMBARUNPENR.TTF") format('truetype'); }
@font-face { font-family: 'NANUMPEN'; src: url("../fonts/NANUMPEN.TTF") format('truetype'); }

	
	.dropdown{
	 	max-width: 100rem;
		margin: 0 auto;
	}
	
	.top{
	 	text-align: center;
	 	font-weight: bold;
	 	font-size:medium;
	 	margin-left: 550px;
	}
	
	.down{
		margin-left:460px;
		width:120px;
	}
	
	.itemMenu{
		color:white;
		background-color: gray;
		cursor: pointer;
	}
	
	.itemMenu:hover{
		color:black;
		cursor: pointer;
	}
	 
	#contents {
		max-width: 90rem;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
	}

	.portfolio-item {
		margin-bottom: 20px;
	}
	
	#mark, #markcancel, #likeit, #likecancel {
		float: right;
		font-size: 15px;
		margin-right: 5px;
	}
	
	#tourTop {
		margin-top: 5px;
		margin-left: 5px;
	}
	
	.card-a {
		border-radius: 3px 3px 5px 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	#ids{
		font-size: 13px;
		font-weight: bold;
	    margin-left: 5px;
	}
	
	#p{
		margin-top : 10px;
		margin-left : 5px;
		font-size : 10px;
		font-weight: bold;
	}